h1{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(87, 235, 12);
    transition: 1s;
    text-align: center;
    padding: 10px;
    text-decoration: double;
}
h1:hover{
    transform: scale(1.3);
    z-index: 2;
    color: rgb(6, 183, 27);
}
img{
    padding: 5px;
    margin-top: 6px;
    padding-left: 15px;
    padding-bottom: 10px;
    transition: 1s;
}
img:hover{
    transform: scale(1.0);
    z-index: 1;
}